<section class="fullscreen">
  <div class="card-50">
    <figure>
      <img src="/static/images/elena-poser.jpg" alt="Elena Torro">
    </figure>
    <div class="flex-content">
      <h2>
        Elena Torró
      </h2>
      <p>Software Developer at <a href="https://www.myabckit.com/">myABCKit</a></p>
      <ul class="description">
        <li>
          <strong class="text-label">From</strong> Murcia, Spain
        </li>
        <li>
          <strong class="text-label">Twitter</strong> @eletorro
        </li>
        <li>
          <strong class="text-label">GitHub</strong> @elenatorro
        </li>
        <li>
          I 💖 Education + Technology
        </li>
      </ul>
    </div>
  </div>
</section>
