<section>
  <div class="wrap">
    <h2>More MIDI, Music and JavaScript</h2>

    <ul>
      <li><a href="https://www.youtube.com/watch?v=khsBjXKJOPs&t=1809s">Ruth John</a></li>
      <li><a href="https://www.youtube.com/watch?v=UEbzTgHs5L0">Soledad Penadés</a></li>
      <li><a href="https://www.youtube.com/watch?v=BEdFcnI-ppk">Sam Bellen</a></li>
      <li><a href="https://www.youtube.com/watch?v=0MigafMWLh0">Jan Monschke</a></li>
      <li><a href="https://www.youtube.com/watch?v=NL0nb8A8FDM&t=2343s">Matt McKegg</a></li>
      <li><a href="https://www.youtube.com/watch?v=d8TCq0xLnV4">Chris Lowis</a></li>
      <li><a href="https://www.youtube.com/watch?v=56spBAgOYfg&t=1521s">Steve Kinney</a></li>
      <li><a href="https://www.youtube.com/watch?v=tSThM9Aw8ps">Stephen Band</a></li>
      <li><a href="https://www.youtube.com/watch?v=KE2GC9lm6jw">Peter Piekarczyk</a></li>
    </ul>

  </div>
</section>
