<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <meta name="description" content="{{presentation}}">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="all" href="static/css/base.css">
  <link rel="stylesheet" type="text/css" media="all" href="static/css/colors.css">
  <link rel="stylesheet" type="text/css" media="all" href="static/css/svg-icons.css">
  <link rel="stylesheet" type="text/css" media="all" href="static/css/github.css">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@eletorro"> <!-- EDIT -->
  <meta name="twitter:creator" content="@eletorro"> <!-- EDIT -->
  <meta name="twitter:title" content="Elena Torro"> <!-- EDIT -->

  <link rel="shortcut icon" sizes="16x16" href="static/images/favicons/favicon.png">
  <link rel="shortcut icon" sizes="32x32" href="static/images/favicons/favicon-32.png">
  <link rel="apple-touch-icon icon" sizes="76x76" href="static/images/favicons/favicon-76.png">
  <link rel="apple-touch-icon icon" sizes="120x120" href="static/images/favicons/favicon-120.png">
  <link rel="apple-touch-icon icon" sizes="152x152" href="static/images/favicons/favicon-152.png">
  <link rel="apple-touch-icon icon" sizes="180x180" href="static/images/favicons/favicon-180.png">
  <link rel="apple-touch-icon icon" sizes="192x192" href="static/images/favicons/favicon-192.png">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#333333">
</head>
