<section>
  <div class="wrap aligncenter">
    <h2>Soundfont Player </h2>
    <a href="https://github.com/danigb/soundfont-player">https://github.com/danigb/soundfont-player</a>
    <div class="grid vertical-align">
      <div class="column">
<pre><code class="javascript">
Soundfont.instrument(ac, 'acoustic_piano').then(function (piano) {
  piano.play('C4')
});
</code></pre>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap aligncenter">
    <h2>MIDI JS Soundfonts</h2>
    <a href="https://github.com/gleitz/midi-js-soundfonts">https://github.com/gleitz/midi-js-soundfonts</a>
    <div class="grid vertical-align">
      <div class="column">
        <figure>
          <img src="static/images/screenshots/midi-js-soundfonts.png" alt="Redux 1">
        </figure>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="wrap aligncenter">
    <h2>MIDI Instruments</h2>
    <div class="grid vertical-align">
      <div class="column">
<pre><code class="javascript">
export const MIDIInstruments = {
  0: 'acoustic_grand_piano',
  1: 'bright_acoustic_piano',
  2: 'electric_grand_piano',
  3: 'honkytonk_piano',
  4: 'electric_piano_1',

  /**/

  125: 'helicopter',
  126: 'applause',
  127: 'gunshot'
}
</code></pre>
      </div>
    </div>
  </div>
</section>
