<section>
  <div class="wrap">
    <div class="grid vertical-align aligncenter">
      <div class="column">
        <figure>
          <img src="static/images/diagram-example/redux1.png" alt="Redux 1">
        </figure>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap">
    <div class="grid vertical-align aligncenter">
      <div class="column">
        <figure>
          <img src="static/images/diagram-example/redux2.png" alt="Redux 1">
        </figure>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap">
    <div class="grid vertical-align aligncenter">
      <div class="column">
        <figure>
          <img src="static/images/diagram-example/redux3.png" alt="Redux 1">
        </figure>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap">
    <div class="grid vertical-align aligncenter">
      <div class="column">
        <figure>
          <img src="static/images/diagram-example/redux4.png" alt="Redux 1">
        </figure>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap">
    <div class="grid vertical-align aligncenter">
      <div class="column">
        <figure>
          <img src="static/images/diagram-example/redux5.png" alt="Redux 1">
        </figure>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap">
    <div class="grid vertical-align aligncenter">
      <div class="column">
        <figure>
          <img src="static/images/diagram-example/redux6.png" alt="Redux 1">
        </figure>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap aligncenter fadeIn">
    <h1 class="text-data">😲 That's it! 🔮</h1>
  </div>
</section>
