<section class="bg-black">
  <span class="background" style="background-image:url('./static/images/binary.gif'); opacity:0.3;"></span>
  <div class="wrap aligncenter">
    <h1 class="text-data"><strong>Show me the <code>code</code></strong></h1>
  </div>
</section>
