<!DOCTYPE html>
<html>

  {{> head }}

  <body>
    <main role="main">
      <article id="webslides" class="horizontal">

        {{> slide-title }}

        {{> about-me }}

        {{> why-midi }}

        {{> about-talk }}

        {{> what-is-midi }}

        {{> redux-intro }}

        {{> redux-diagram }}

        {{> show-me-the-code }}

        {{> redux-vanilla-code }}

        {{> audio-basics }}

        {{> midi-api }}

        {{> midi-basics }}

        {{> midi-instruments }}

        {{> show-me-the-code }}

        {{> midi-instruments-code }}

        {{> midi-read-file }}

        {{> midi-react-example }}

        {{> bibliography }}

        {{> thanks }}

      </article>
    </main>

    {{> footer}}

  </body>
</html>
